body{
    background-color: E5E5E5;
    padding: 0;
    margin: 0;
}

.main-container{
    background-color: rgba(186, 31, 62, 0.598);
    height: 15em;
    width: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
}